<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">FADEBOOK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://yt3.ggpht.com/tZzWY3x_8sHImFXBBh6F5_CMomsI_ynEx3BV7SVQreM3ASsE93TT-KDCKPJace88xRnO-FfOt9Y=s88-c-k-c0x00ffffff-no-rj" alt="" class="user-avatar">
        Thanh Huy
      </a>

      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="/courses/create">Đăng ký khóa học</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
        <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
      </ul>
    </div>


  </div>

</nav>